Vancl.TMS/Vancl.TMS.BLL/Service References/CustomizeFlow/CustomizeFlow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomizeFlow" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.253.6.46:6005/CustomizeFlow.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.253.6.46:6005/CustomizeFlow.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.253.6.46:6005/CustomizeFlow.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/RFD.PMS.Model.BasicSetting.Flow" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomizeFlow_GetDistributionFunChecker_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistributionFunChecker" />
  </wsdl:message>
  <wsdl:message name="ICustomizeFlow_GetDistributionFunChecker_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistributionFunCheckerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomizeFlow_IsExitsFun_InputMessage">
    <wsdl:part name="parameters" element="tns:IsExitsFun" />
  </wsdl:message>
  <wsdl:message name="ICustomizeFlow_IsExitsFun_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsExitsFunResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomizeFlow">
    <wsdl:operation name="GetDistributionFunChecker">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomizeFlow/GetDistributionFunChecker" message="tns:ICustomizeFlow_GetDistributionFunChecker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomizeFlow/GetDistributionFunCheckerResponse" message="tns:ICustomizeFlow_GetDistributionFunChecker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsExitsFun">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomizeFlow/IsExitsFun" message="tns:ICustomizeFlow_IsExitsFun_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomizeFlow/IsExitsFunResponse" message="tns:ICustomizeFlow_IsExitsFun_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomizeFlow" type="tns:ICustomizeFlow">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDistributionFunChecker">
      <soap:operation soapAction="http://tempuri.org/ICustomizeFlow/GetDistributionFunChecker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExitsFun">
      <soap:operation soapAction="http://tempuri.org/ICustomizeFlow/IsExitsFun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomizeFlow">
    <wsdl:port name="BasicHttpBinding_ICustomizeFlow" binding="tns:BasicHttpBinding_ICustomizeFlow">
      <soap:address location="http://10.253.6.46:6005/CustomizeFlow.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>