Vancl.TMS/Vancl.TMS.BLL/Service References/SMSService/commonmsg.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.vancl.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.vancl.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.vancl.com/">
      <s:element name="AddMsgByTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="department" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMsgByTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddMsgByTitleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMsgBySign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="department" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgsign" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMsgBySignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddMsgBySignResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddMsgByTitleSoapIn">
    <wsdl:part name="parameters" element="tns:AddMsgByTitle" />
  </wsdl:message>
  <wsdl:message name="AddMsgByTitleSoapOut">
    <wsdl:part name="parameters" element="tns:AddMsgByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="AddMsgBySignSoapIn">
    <wsdl:part name="parameters" element="tns:AddMsgBySign" />
  </wsdl:message>
  <wsdl:message name="AddMsgBySignSoapOut">
    <wsdl:part name="parameters" element="tns:AddMsgBySignResponse" />
  </wsdl:message>
  <wsdl:portType name="CommonMsgSoap">
    <wsdl:operation name="AddMsgByTitle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通用短信发送服务，参数：mobile--手机号，content--短信内容,title--标题，department--部门, key--加密key</wsdl:documentation>
      <wsdl:input message="tns:AddMsgByTitleSoapIn" />
      <wsdl:output message="tns:AddMsgByTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMsgBySign">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通用短信发送服务，参数：mobile--手机号，content--短信内容,title--标题，department--部门，msgsign--短信签名, key--加密key</wsdl:documentation>
      <wsdl:input message="tns:AddMsgBySignSoapIn" />
      <wsdl:output message="tns:AddMsgBySignSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommonMsgSoap" type="tns:CommonMsgSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMsgByTitle">
      <soap:operation soapAction="http://www.vancl.com/AddMsgByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMsgBySign">
      <soap:operation soapAction="http://www.vancl.com/AddMsgBySign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommonMsgSoap12" type="tns:CommonMsgSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMsgByTitle">
      <soap12:operation soapAction="http://www.vancl.com/AddMsgByTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMsgBySign">
      <soap12:operation soapAction="http://www.vancl.com/AddMsgBySign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonMsg">
    <wsdl:port name="CommonMsgSoap" binding="tns:CommonMsgSoap">
      <soap:address location="http://xmlapp.vancl.com/commonmsg.asmx" />
    </wsdl:port>
    <wsdl:port name="CommonMsgSoap12" binding="tns:CommonMsgSoap12">
      <soap12:address location="http://xmlapp.vancl.com/commonmsg.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>