Vancl.TMS/InfoClient/Service References/ServiceReference1/Caching2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Vancl.TMS.Util.CacheService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vancl.TMS.Util.CacheService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cache">
    <xs:sequence>
      <xs:element name="_x003C_CacheName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CachePeriod_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_CacheValue_x003E_k__BackingField" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cache" nillable="true" type="tns:Cache" />
</xs:schema>