Vancl.TMS/Vancl.TMS.BLL/Service References/OrdersForWdsAssignService/OrdersForWdsAssign4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cloud.DPS.Model.DTOModel.ForWDS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cloud.DPS.Model.DTOModel.ForWDS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DQQueryCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssignDistributionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssignStatus" type="xs:int" />
      <xs:element minOccurs="0" name="CityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentDistributionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDistributionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantId" type="xs:int" />
      <xs:element minOccurs="0" name="NoType" type="xs:int" />
      <xs:element minOccurs="0" name="NoValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="StopDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DQQueryCondition" nillable="true" type="tns:DQQueryCondition" />
  <xs:complexType name="SQQueryCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssignStatus" type="xs:int" />
      <xs:element minOccurs="0" name="AssignType" type="xs:int" />
      <xs:element minOccurs="0" name="CityId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentDistributionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliverStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDistributionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantId" type="xs:int" />
      <xs:element minOccurs="0" name="NoType" type="xs:int" />
      <xs:element minOccurs="0" name="NoValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StopDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQQueryCondition" nillable="true" type="tns:SQQueryCondition" />
</xs:schema>