Vancl.TMS.PDA/Vancl.RFD.LMS.BLL.Proxy/Service References/PMSService/PMSOpenService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deposit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DistributionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeOldCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDACode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POSCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Relation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelationMan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelationPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" type="xs:boolean" />
      <xs:element minOccurs="0" name="StationID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eEmail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ExpressCompany">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyAllName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyFlag" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContacterPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deposit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DistributionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpressCompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpressCompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="ExpressCompanyOldID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExpressCompanyVjiaOldID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsCod" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPDA" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPOS" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReplacement" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReturn" type="xs:boolean" />
      <xs:element minOccurs="0" name="LevelCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainContacter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxOrderLimit" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SimpleSpell" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpressCompany" nillable="true" type="tns:ExpressCompany" />
  <xs:complexType name="ArrayOfMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="tns:Menu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenu" nillable="true" type="tns:ArrayOfMenu" />
  <xs:complexType name="Menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImgURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsChange" type="xs:boolean" />
      <xs:element minOccurs="0" name="MainSortBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MenuComment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuGroup" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MenuID" type="xs:int" />
      <xs:element minOccurs="0" name="MenuLevel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MenuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sorting" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="RoleComment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sorting" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="Notice">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DistributionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoitceContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemId" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Notice" nillable="true" type="tns:Notice" />
  <xs:complexType name="ArrayOfMerchantBaseInfoModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MerchantBaseInfoModel" nillable="true" type="tns:MerchantBaseInfoModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMerchantBaseInfoModel" nillable="true" type="tns:ArrayOfMerchantBaseInfoModel" />
  <xs:complexType name="MerchantBaseInfoModel">
    <xs:sequence>
      <xs:element name="_address" nillable="true" type="xs:string" />
      <xs:element name="_areaid" nillable="true" type="xs:string" />
      <xs:element name="_areaname" nillable="true" type="xs:string" />
      <xs:element name="_cityid" nillable="true" type="xs:string" />
      <xs:element name="_cityname" nillable="true" type="xs:string" />
      <xs:element name="_contacter" nillable="true" type="xs:string" />
      <xs:element name="_contacterphone" nillable="true" type="xs:string" />
      <xs:element name="_creatby" nillable="true" type="xs:int" />
      <xs:element name="_createstationid" nillable="true" type="xs:int" />
      <xs:element name="_creattime" nillable="true" type="xs:dateTime" />
      <xs:element name="_email" nillable="true" type="xs:string" />
      <xs:element name="_goodscategoryofmerchant" nillable="true" type="xs:string" />
      <xs:element name="_id" type="xs:int" />
      <xs:element name="_isEnableGis" type="xs:boolean" />
      <xs:element name="_isEnableImport" type="xs:boolean" />
      <xs:element name="_isExpressDelivery" type="xs:boolean" />
      <xs:element name="_isNeedWeight" type="xs:boolean" />
      <xs:element name="_isOrderNameSame" type="xs:boolean" />
      <xs:element name="_isPeriodAccount" type="xs:boolean" />
      <xs:element name="_isSkipPrintBill" type="xs:boolean" />
      <xs:element name="_isSubMerchant" type="xs:boolean" />
      <xs:element name="_ischange" type="xs:boolean" />
      <xs:element name="_isdeleted" type="xs:boolean" />
      <xs:element name="_ismerchant" type="xs:boolean" />
      <xs:element name="_merchantcode" nillable="true" type="xs:string" />
      <xs:element name="_merchantfullname" nillable="true" type="xs:string" />
      <xs:element name="_merchantname" nillable="true" type="xs:string" />
      <xs:element name="_orderpeak" nillable="true" type="xs:int" />
      <xs:element name="_parentId" nillable="true" type="xs:int" />
      <xs:element name="_periodAccountCode" nillable="true" type="xs:string" />
      <xs:element name="_pickmode" nillable="true" type="xs:int" />
      <xs:element name="_pressorder" type="xs:boolean" />
      <xs:element name="_provinceid" nillable="true" type="xs:string" />
      <xs:element name="_provincename" nillable="true" type="xs:string" />
      <xs:element name="_simplespell" nillable="true" type="xs:string" />
      <xs:element name="_sortingCenterID" nillable="true" type="xs:int" />
      <xs:element name="_sortstr" nillable="true" type="xs:string" />
      <xs:element name="_source" type="tns:EnumCommon.WaybillSourse" />
      <xs:element name="_telephone" nillable="true" type="xs:string" />
      <xs:element name="_ungoodscategoryofmerchant" nillable="true" type="xs:string" />
      <xs:element name="_updateby" nillable="true" type="xs:int" />
      <xs:element name="_updatestationid" nillable="true" type="xs:int" />
      <xs:element name="_updatetime" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_AreaExpressCompany_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="bAllActivedMode" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MerchantBaseInfoModel" nillable="true" type="tns:MerchantBaseInfoModel" />
  <xs:simpleType name="EnumCommon.WaybillSourse">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VANCL" />
      <xs:enumeration value="VJIA" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumCommon.WaybillSourse" nillable="true" type="tns:EnumCommon.WaybillSourse" />
</xs:schema>