Vancl.TMS.PDA/Vancl.RFD.LMS.BLL.Proxy/Service References/PMSService/PMSOpenService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.253.6.46:8882/PMSOpenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" />
  <xs:import schemaLocation="http://10.253.6.46:8882/PMSOpenService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CheckOriginDepot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="originDepotNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOriginDepotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckOriginDepotResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisSortingCenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distributioncode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisSortingCenterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetDisSortingCenterResult" nillable="true" type="q1:ArrayOfExpressCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupCooperationDistributions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distributioncode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupCooperationDistributionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetSupCooperationDistributionsResult" nillable="true" type="q2:ArrayOfExpressCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCooperationDistributions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distributioncode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCooperationDistributionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetSubCooperationDistributionsResult" nillable="true" type="q3:ArrayOfExpressCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOperationGuide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MenuName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOperationGuideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetAllOperationGuideResult" nillable="true" type="q4:ArrayOfOperationGuide" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchantInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchantInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetMerchantInfoResult" nillable="true" type="q5:MerchantBaseInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesOfUserHasAuthority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
        <xs:element minOccurs="0" name="SystemID" type="xs:int" />
        <xs:element minOccurs="0" name="UserAuthorityType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesOfUserHasAuthorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetCitiesOfUserHasAuthorityResult" nillable="true" type="q6:ArrayOfRoleCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsOfUserHasAuthorityByCityID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
        <xs:element minOccurs="0" name="SystemID" type="xs:int" />
        <xs:element minOccurs="0" name="UserAuthorityType" type="xs:int" />
        <xs:element minOccurs="0" name="CityID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsOfUserHasAuthorityByCityIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetStationsOfUserHasAuthorityByCityIDResult" nillable="true" type="q7:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProvince">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetAllProvinceResult" nillable="true" type="q8:ArrayOfProvince" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="city" nillable="true" type="q9:City" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetCityListResult" nillable="true" type="q10:ArrayOfCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDistribution">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDistributionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetAllDistributionResult" nillable="true" type="q11:ArrayOfDistribution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildDistribution">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParentDistributionCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildDistributionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetChildDistributionResult" nillable="true" type="q12:ArrayOfDistribution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FromDeliverCenter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FromDeliverCenterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FromDeliverCenterResult" nillable="true" type="q13:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToDeliverCenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDeliverCenter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToDeliverCenterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ToDeliverCenterResult" nillable="true" type="q14:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliverCenterByStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliverCenterByStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeliverCenterByStationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNeedTmsTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromId" type="xs:int" />
        <xs:element minOccurs="0" name="toId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNeedTmsTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsNeedTmsTransferResult" type="xs:int" />
        <xs:element minOccurs="0" name="toId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderPeak">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantID" type="xs:int" />
        <xs:element minOccurs="0" name="orderPeak" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderPeakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOrderPeakResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgentUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetAgentRelationResult" nillable="true" type="q15:ArrayOfAgentRelationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSetRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrincipalUserID" type="xs:int" />
        <xs:element minOccurs="0" name="AgentUserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSetRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSetRelationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetEmployeeByIDResult" nillable="true" type="q16:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptNameByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeptID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptNameByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeptNameByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchantSortingCenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MerchantID" type="xs:int" />
        <xs:element minOccurs="0" name="distributioncode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchantSortingCenterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetMerchantSortingCenterResult" nillable="true" type="q17:ArrayOfOutMerchantSortingCenter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressCompanyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DistributionCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressCompanyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExpressCompanyIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="updateby" type="xs:int" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LockEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortingCentersByDistributionCodeWithoutSelf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distributionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeptID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortingCentersByDistributionCodeWithoutSelfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetSortingCentersByDistributionCodeWithoutSelfResult" nillable="true" type="q18:ArrayOfExpressCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeLoginNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeLoginNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeLoginNewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="employee" nillable="true" type="q19:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpressCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="expressCompany" nillable="true" type="q20:ExpressCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpressCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddExpressCompanyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeAndSetRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="employee" nillable="true" type="q21:Employee" />
        <xs:element minOccurs="0" name="roleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeAndSetRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEmployeeAndSetRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetEmployeeResult" nillable="true" type="q22:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEmployeeRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEmployeeRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetEmployeeRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeMenus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subSystemKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetEmployeeMenusResult" nillable="true" type="q23:ArrayOfMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetEmployeeRolesResult" nillable="true" type="q24:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeMenuData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subSystemKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeMenuDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeMenuDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuDataByEmployeeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeID" type="xs:int" />
        <xs:element minOccurs="0" name="subSystemKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuDataByEmployeeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMenuDataByEmployeeIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeRoleData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeRoleDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeRoleDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsCategoryCodeOfMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantid" type="xs:int" />
        <xs:element minOccurs="0" name="goodscategoryname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsCategoryCodeOfMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGoodsCategoryCodeOfMerchantResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsCategoryNameOfMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsCategoryNameOfMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGoodsCategoryNameOfMerchantResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsParent" type="xs:boolean" />
        <xs:element minOccurs="0" name="isSubMerchant" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetMerchantResult" nillable="true" type="q25:ArrayOfMerchantBaseInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchantListHasSubMerchants">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchantListHasSubMerchantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMerchantListHasSubMerchantsResult" nillable="true" type="q26:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGoodsCategoryNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGoodsCategoryNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllGoodsCategoryNamesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysNotice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemId" type="xs:int" />
        <xs:element minOccurs="0" name="distributionCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSysNoticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetSysNoticeResult" nillable="true" type="q27:Notice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOriginDepotByMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantId" type="xs:int" />
        <xs:element minOccurs="0" name="submerchant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOriginDepotByMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOriginDepotByMerchantResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidateOriginDepotByMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantId" type="xs:int" />
        <xs:element minOccurs="0" name="submerchant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isvalidate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidateOriginDepotByMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValidateOriginDepotByMerchantResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPickDepartmentByMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPickDepartmentByMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPickDepartmentByMerchantResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubMerchantListByMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubMerchantListByMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSubMerchantListByMerchantResult" nillable="true" type="q28:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGoodsCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGoodsCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllGoodsCategoriesResult" nillable="true" type="q29:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGoodsCategoriesByMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGoodsCategoriesByMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllGoodsCategoriesByMerchantResult" nillable="true" type="q30:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubMerchantNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubMerchantNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSubMerchantNamesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubMerchantNamesByMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubMerchantNamesByMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetSubMerchantNamesByMerchantResult" nillable="true" type="q31:ArrayOfMerchantBaseInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>