Vancl.TMS.PDA/Vancl.RFD.LMS.BLL.Proxy/Service References/PMSService/PMSOpenService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rfd-lms-ser.vancldb.com:9703/PMSOpenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" />
  <xs:element name="EmployeeLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="employee" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpressCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="expressCompany" nillable="true" type="q2:ExpressCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpressCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddExpressCompanyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeAndSetRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="employee" nillable="true" type="q3:Employee" />
        <xs:element minOccurs="0" name="roleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeAndSetRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEmployeeAndSetRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetEmployeeResult" nillable="true" type="q4:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEmployeeRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEmployeeRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetEmployeeRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeMenus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subSystemKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetEmployeeMenusResult" nillable="true" type="q5:ArrayOfMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RFD.PMS.Model" minOccurs="0" name="GetEmployeeRolesResult" nillable="true" type="q6:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeMenuData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subSystemKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeMenuDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeMenuDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeRoleData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeRoleDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeRoleDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsCategoryCodeOfMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantid" type="xs:int" />
        <xs:element minOccurs="0" name="goodscategoryname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsCategoryCodeOfMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGoodsCategoryCodeOfMerchantResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>