Vancl.TMS.PDA/Vancl.RFD.LMS.BLL.Proxy/Service References/TMSAPIService/TMSAPIService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Vancl.TMS.Model.Delivery.DataInteraction.Entrance" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vancl.TMS.Model.Delivery.DataInteraction.Entrance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.253.6.46:8884/TMSAPIService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Vancl.TMS.Model.Common" />
  <xs:complexType name="TMSEntranceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BatchNo" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Vancl.TMS.Model.Common" minOccurs="0" name="ContentType" type="q1:Enums.GoodsType" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detail" nillable="true" type="tns:ArrayOfBillDetailModel" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Vancl.TMS.Model.Common" minOccurs="0" name="Source" type="q2:Enums.TMSEntranceSource" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
      <xs:element minOccurs="0" name="Weight" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TMSEntranceModel" nillable="true" type="tns:TMSEntranceModel" />
  <xs:complexType name="ArrayOfBillDetailModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillDetailModel" nillable="true" type="tns:BillDetailModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillDetailModel" nillable="true" type="tns:ArrayOfBillDetailModel" />
  <xs:complexType name="BillDetailModel">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Vancl.TMS.Model.Common" minOccurs="0" name="BillType" type="q3:Enums.BillType" />
      <xs:element minOccurs="0" name="CustomerOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Vancl.TMS.Model.Common" minOccurs="0" name="GoodsType" type="q4:Enums.GoodsType" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillDetailModel" nillable="true" type="tns:BillDetailModel" />
</xs:schema>