Vancl.TMS.PDA/Vancl.RFD.LMS.BLL.Proxy/Service References/TMSAPIService/TMSAPIService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Vancl.TMS.Model.Sorting.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vancl.TMS.Model.Sorting.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.253.6.46:8884/TMSAPIService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Vancl.TMS.Model.Common" />
  <xs:complexType name="SortCenterSimpleArgModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Vancl.TMS.Model.Common" minOccurs="0" name="FormType" type="q1:Enums.SortCenterFormType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SortCenterSimpleArgModel" nillable="true" type="tns:SortCenterSimpleArgModel" />
  <xs:complexType name="SortCenterUserModel">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Vancl.TMS.Model.Common" minOccurs="0" name="CompanyFlag" type="q2:Enums.CompanyFlag" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistributionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistributionMnemonicName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistributionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpressId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MnemonicCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MnemonicName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SortCenterUserModel" nillable="true" type="tns:SortCenterUserModel" />
  <xs:complexType name="SortCenterToStationModel">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Vancl.TMS.Model.Common" minOccurs="0" name="CompanyFlag" type="q3:Enums.CompanyFlag" />
      <xs:element minOccurs="0" name="DistributionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpressCompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="MnemonicName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SortCenterToStationModel" nillable="true" type="tns:SortCenterToStationModel" />
</xs:schema>