Vancl.TMS/Vancl.TMS.Service/Vancl.TMS.Schedule.Dps2TmsService/Service References/DpsOrdersForTMS/OrdersForTms.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cloud.DPS.Model.OrderForThirdParty" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cloud.DPS.Model.OrderForThirdParty" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderForThirdParty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderForThirdParty" nillable="true" type="tns:OrderForThirdParty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderForThirdParty" nillable="true" type="tns:ArrayOfOrderForThirdParty" />
  <xs:complexType name="OrderForThirdParty">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Addressee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssignStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AuditTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BackFund" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BatchCreatTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BatchPickCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BatchWeight" type="xs:decimal" />
      <xs:element minOccurs="0" name="BoxCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BoxNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallBefore" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CashonDeliveryTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateStationId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerBatchNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliverCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliverTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DistributionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ETime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpressCompanyID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ExpressCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromProvince" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodsCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodsProperty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncludeOrders" type="xs:int" />
      <xs:element minOccurs="0" name="IsAutoAssign" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDelete" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsGisSuccess" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsImported" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSyn" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogisticProviderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marchartid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeedFund" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderForThirdPartyDetailList" nillable="true" type="tns:ArrayOfOrderForThirdPartyDetails" />
      <xs:element minOccurs="0" name="OrderForThirdPartyId" type="xs:long" />
      <xs:element minOccurs="0" name="OrderIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderInfoVolume" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OriginDepotNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaidPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaymentTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PerFormCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProjectExpress" type="xs:int" />
      <xs:element minOccurs="0" name="Protectedprice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Receiver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelHouseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReplaceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnSum" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SendTimeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortingCenterId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SortingCenterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportDeliverCode" type="xs:boolean" />
      <xs:element minOccurs="0" name="TimeType" type="xs:int" />
      <xs:element minOccurs="0" name="TransferPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnGisAssign" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdateBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateStationId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WaybillBoxModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WaybillNo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderForThirdParty" nillable="true" type="tns:OrderForThirdParty" />
  <xs:complexType name="ArrayOfOrderForThirdPartyDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderForThirdPartyDetails" nillable="true" type="tns:OrderForThirdPartyDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderForThirdPartyDetails" nillable="true" type="tns:ArrayOfOrderForThirdPartyDetails" />
  <xs:complexType name="OrderForThirdPartyDetails">
    <xs:sequence>
      <xs:element name="_Reason" nillable="true" type="xs:string" />
      <xs:element name="_ReasonID" nillable="true" type="xs:string" />
      <xs:element name="_createby" nillable="true" type="xs:int" />
      <xs:element name="_createstationid" nillable="true" type="xs:int" />
      <xs:element name="_createtime" nillable="true" type="xs:dateTime" />
      <xs:element name="_formcode" nillable="true" type="xs:string" />
      <xs:element name="_isdelete" nillable="true" type="xs:boolean" />
      <xs:element name="_issyn" nillable="true" type="xs:boolean" />
      <xs:element name="_orderamount" nillable="true" type="xs:decimal" />
      <xs:element name="_orderforthirdpartydetailsid" type="xs:long" />
      <xs:element name="_orderforthirdpartyid" type="xs:long" />
      <xs:element name="_productcode" nillable="true" type="xs:string" />
      <xs:element name="_productname" nillable="true" type="xs:string" />
      <xs:element name="_sellprice" nillable="true" type="xs:decimal" />
      <xs:element name="_size" nillable="true" type="xs:string" />
      <xs:element name="_unit" nillable="true" type="xs:string" />
      <xs:element name="_updateby" nillable="true" type="xs:int" />
      <xs:element name="_updatestationid" nillable="true" type="xs:int" />
      <xs:element name="_updatetime" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_Remark_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Volumn_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_Weight_x003E_k__BackingField" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderForThirdPartyDetails" nillable="true" type="tns:OrderForThirdPartyDetails" />
</xs:schema>