Vancl.TMS/Vancl.TMS.Service/Vancl.TMS.Schedule.Dps2TmsService/Service References/DpsOrdersForTMS/OrdersForTms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrdersForTms" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IOrdersForTms_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.16.112.115:8612/OrdersForTms.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.16.112.115:8612/OrdersForTms.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.16.112.115:8612/OrdersForTms.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cloud.DPS.Model.OrderForThirdParty" />
      <xsd:import schemaLocation="http://10.16.112.115:8612/OrdersForTms.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrdersForTms_GetDpsDataForTMS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDpsDataForTMS" />
  </wsdl:message>
  <wsdl:message name="IOrdersForTms_GetDpsDataForTMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDpsDataForTMSResponse" />
  </wsdl:message>
  <wsdl:message name="IOrdersForTms_UpdateGetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGetStatus" />
  </wsdl:message>
  <wsdl:message name="IOrdersForTms_UpdateGetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGetStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrdersForTms">
    <wsdl:operation name="GetDpsDataForTMS">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdersForTms/GetDpsDataForTMS" message="tns:IOrdersForTms_GetDpsDataForTMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdersForTms/GetDpsDataForTMSResponse" message="tns:IOrdersForTms_GetDpsDataForTMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrdersForTms/UpdateGetStatus" message="tns:IOrdersForTms_UpdateGetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrdersForTms/UpdateGetStatusResponse" message="tns:IOrdersForTms_UpdateGetStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IOrdersForTms" type="tns:IOrdersForTms">
    <wsp:PolicyReference URI="#WSHttpBinding_IOrdersForTms_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDpsDataForTMS">
      <soap12:operation soapAction="http://tempuri.org/IOrdersForTms/GetDpsDataForTMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGetStatus">
      <soap12:operation soapAction="http://tempuri.org/IOrdersForTms/UpdateGetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrdersForTms">
    <wsdl:port name="WSHttpBinding_IOrdersForTms" binding="tns:WSHttpBinding_IOrdersForTms">
      <soap12:address location="http://10.16.112.115:8612/OrdersForTms.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://10.16.112.115:8612/OrdersForTms.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>