Vancl.TMS/Vancl.TMS.BLL/Service References/TransPointService/TmsDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TmsDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pmsapi.wuliusys.com/TMSDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pmsapi.wuliusys.com/TMSDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pmsapi.wuliusys.com/TMSDataService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITmsDataService_FromDeliverCenter_InputMessage">
    <wsdl:part name="parameters" element="tns:FromDeliverCenter" />
  </wsdl:message>
  <wsdl:message name="ITmsDataService_FromDeliverCenter_OutputMessage">
    <wsdl:part name="parameters" element="tns:FromDeliverCenterResponse" />
  </wsdl:message>
  <wsdl:message name="ITmsDataService_ToDeliverCenter_InputMessage">
    <wsdl:part name="parameters" element="tns:ToDeliverCenter" />
  </wsdl:message>
  <wsdl:message name="ITmsDataService_ToDeliverCenter_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToDeliverCenterResponse" />
  </wsdl:message>
  <wsdl:message name="ITmsDataService_GetDeliverCenterByStation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliverCenterByStation" />
  </wsdl:message>
  <wsdl:message name="ITmsDataService_GetDeliverCenterByStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliverCenterByStationResponse" />
  </wsdl:message>
  <wsdl:message name="ITmsDataService_IsNeedTmsTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:IsNeedTmsTransfer" />
  </wsdl:message>
  <wsdl:message name="ITmsDataService_IsNeedTmsTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsNeedTmsTransferResponse" />
  </wsdl:message>
  <wsdl:portType name="ITmsDataService">
    <wsdl:operation name="FromDeliverCenter">
      <wsdl:input wsaw:Action="http://tempuri.org/ITmsDataService/FromDeliverCenter" message="tns:ITmsDataService_FromDeliverCenter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITmsDataService/FromDeliverCenterResponse" message="tns:ITmsDataService_FromDeliverCenter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToDeliverCenter">
      <wsdl:input wsaw:Action="http://tempuri.org/ITmsDataService/ToDeliverCenter" message="tns:ITmsDataService_ToDeliverCenter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITmsDataService/ToDeliverCenterResponse" message="tns:ITmsDataService_ToDeliverCenter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliverCenterByStation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITmsDataService/GetDeliverCenterByStation" message="tns:ITmsDataService_GetDeliverCenterByStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITmsDataService/GetDeliverCenterByStationResponse" message="tns:ITmsDataService_GetDeliverCenterByStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsNeedTmsTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/ITmsDataService/IsNeedTmsTransfer" message="tns:ITmsDataService_IsNeedTmsTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITmsDataService/IsNeedTmsTransferResponse" message="tns:ITmsDataService_IsNeedTmsTransfer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITmsDataService" type="tns:ITmsDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FromDeliverCenter">
      <soap:operation soapAction="http://tempuri.org/ITmsDataService/FromDeliverCenter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToDeliverCenter">
      <soap:operation soapAction="http://tempuri.org/ITmsDataService/ToDeliverCenter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliverCenterByStation">
      <soap:operation soapAction="http://tempuri.org/ITmsDataService/GetDeliverCenterByStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNeedTmsTransfer">
      <soap:operation soapAction="http://tempuri.org/ITmsDataService/IsNeedTmsTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TmsDataService">
    <wsdl:port name="BasicHttpBinding_ITmsDataService" binding="tns:BasicHttpBinding_ITmsDataService">
      <soap:address location="http://pmsapi.wuliusys.com/TMSDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>