Vancl.TMS/Vancl.TMS.BLL/Service References/WaybillLifeCycleService/WaybillLifeCycleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cloud.DPS.Model.DTOModel.WaybillLifeCycle" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cloud.DPS.Model.DTOModel.WaybillLifeCycle" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WaybillLifeCycleDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurNode" type="xs:int" />
      <xs:element minOccurs="0" name="DeliverStationID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DistributionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OpDeptID" type="xs:int" />
      <xs:element minOccurs="0" name="OpManID" type="xs:int" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="SubStatus" type="xs:int" />
      <xs:element minOccurs="0" name="ToDistributionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToExpressCompanyID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WaybillNo" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WaybillLifeCycleDto" nillable="true" type="tns:WaybillLifeCycleDto" />
  <xs:complexType name="ArrayOfWaybillLifeCycleDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WaybillLifeCycleDto" nillable="true" type="tns:WaybillLifeCycleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWaybillLifeCycleDto" nillable="true" type="tns:ArrayOfWaybillLifeCycleDto" />
</xs:schema>