Vancl.TMS.PDA/Vancl.RFD.LMS.PDA.Web/Service References/SortCenterAPI/SortCenterWCFOpenService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1922/SortCenterWCFOpenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RFD.LMS.Model.SortingCenter" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Inbound">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RFD.LMS.Model.SortingCenter" minOccurs="0" name="argument" nillable="true" type="q1:SortCenterInboundArgModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InboundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RFD.LMS.Model.SortingCenter" minOccurs="0" name="InboundResult" nillable="true" type="q2:SortCenterInBoundViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboundCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RFD.LMS.Model.SortingCenter" minOccurs="0" name="argument" nillable="true" type="q3:SortCenterInboundArgModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboundCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInboundCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortCenterInboundUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortCenterInboundUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RFD.LMS.Model.SortingCenter" minOccurs="0" name="GetSortCenterInboundUserResult" nillable="true" type="q4:SortCenterInboundUserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortCenterInboundPreCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DistributionCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortCenterInboundPreConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RFD.LMS.Model.SortingCenter" minOccurs="0" name="GetSortCenterInboundPreConditionResult" nillable="true" type="q5:SortCenterInboundPreCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortCenterToStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExpressCompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortCenterToStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RFD.LMS.Model.SortingCenter" minOccurs="0" name="GetSortCenterToStationResult" nillable="true" type="q6:SortCenterInboundToStationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>